//carica il font dell'app da google font
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

//Font generico dell'app
$font-general: 'Nunito', sans-serif;

//codici colori
$black: #333;
$white: #fff;