@import 'color';

#app {
    background-color: $black;
    height: 100vh;
    color: $white;
    font-family: $font-general;

    .container-height {
        height: 100%;

        .row-height {
            height: 100%;
            
            .home-text{
                text-align: center;
                
            }

        }
    }
}